:root{
    --ctc-color :rgb(212, 54, 54);
    --black-color : black;
    --white-color : white;
    --hover-bg-color :#dadde0;
    --bg-color : #f3f4f6;
}

*{
    background: none;
    border: none;
}

.flex{
    display: flex;
}

.content-info{
    margin-left: 5px;
}

.title{
    margin: 0.3rem 0rem;
}

.chip-container{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin-top: 0.5rem;
    min-width: 50vw;
}

.chip-button{
    border: none;
    background-color: var(--bg-color);
}

.chip{
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.active-link{
    background-color: var(--ctc-color);
    color: var(--white-color);
}

.home-main {
    display: flex;
    justify-content: flex-start;
}

.margin{
    margin-left: 0.5rem;
}

.heading{
    margin: 1rem;
    color: var(--ctc-color);
}

.views{
    color: gray;
    margin-top: 0.3rem;
}

.like-btn {
    margin-left: 5rem;
}

.library-add-btn,.dislike-btn{
    margin-left: 1rem;
}

.red{
    color: var(--ctc-color);
}

.avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.m1{
    margin: 0.5rem 0rem;
}

.margin-top-bottom{
    margin: 1rem;
}

.explore-suggestion{
    height: 7rem;
    color: rgb(56, 56, 56);
    margin: 1rem;
}

.hl{
    border-bottom: 1px solid grey;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.delete-icon{
    margin-top: 0.5rem;
}

.clear-history-btn{
    font-size: 1rem;
    color : var(--ctc-color);
    border: 1px solid var(--ctc-color);
    padding: 4px 6px;
    border-radius: 5px;
}

.clear-history-btn-container{
    margin: 1rem 0rem;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

.playlist-name{
    border: 1px solid var(--black-color);
    padding: 1rem;
}

.General{
    background-color: var(--ctc-color);
    color: white;
    padding: 0.3rem 0.5rem;
}

.empty-img{
    background-color: red;
}

.playlists{
    display: flex;
    flex-wrap: wrap;
}

.playlist-delete-icon{
    margin-top: 0.5rem;
}

.playlist-services{
    width: 100%;
    justify-content: space-between;
}

.loader{
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--ctc-color);
    border-radius: 50%;
    border-top: 2px solid var(--white-color);
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    visibility: hidden;
}

@media only screen and (max-width: 1000px) {  

    .suggestions {
        display: none;
    }
  }

@media only screen and (max-width: 900px) {  
    .suggestions {
        display: none;
    }
  }

  @media only screen and (max-width: 750px) {  
    .thumbnail {
        height: 16rem;
    }

    .clear-history-btn-container{
        width: 80vw;
    }


    .playlist-img{
        left: 8.7rem;
    }
  }

  @media only screen and (max-width: 470px) {  
    .playlist-img{
        height: 11.7rem;
        left: 10.3rem;
        bottom: 8.2rem;
    }
  }

  @media only screen and (max-width: 450px) {  
    .playlist-img{
        height: 11.7rem;
        left: 9.7rem;
        bottom: 8.2rem;
    }
  }


@media only screen and (max-width: 415px) { 

    .main-wrapper{
        width: 10rem;
    }

    .library-container{
        width: 80vw;
    }

    .suggestions {
        display: none;
    }

    .playlist-img-container{
        height: 11.7rem;
        left: 8.1rem;
        bottom: 8.2rem;
    }
  }