*{
    background: none;
    border: none;
}

.flex{
    display: flex;
}

.flex-page{
    display: flex;
}

.single-video-card{
    margin: 1rem;
    width: 60vw;
    margin-bottom : 1rem;
}

.description{
    background-color: #d8d8d8;
    padding: 1rem;
    border-radius: 5px;
    line-height: 1.3rem;
    width: 90%;
}

.single-video {
    min-width: 100%;
    height: 22rem;
}

.font-small{
    font-size: 0.9rem;
}

.font-smaller{
    font-size: 0.8rem;
}

.margin{
    margin: 0rem 0.5rem;
}

.margin-top-bottom{
    margin: 0.5rem;
}

.home-main{
    flex-wrap: wrap;
}

.like-button {
    margin-left: 1rem;
}

.red{
    color: var(--ctc-color);
}

.modal-card{
    border: 1px solid var(--ctc-color);
    width: fit-content;
    min-height: 10rem;
    position: absolute;
    background-color: white;
    left: 6rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.modal-card>input{
    margin : 1rem 1rem 0rem 1rem ;
    width: fit-content;
    border-bottom: 1px solid black;
    outline: none;
}

.add-btn{
    position: relative;
    top: 3rem;
    left: 7rem;
}

.add-playlist-btn{
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    background-color: var(--ctc-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.input{
    padding: 0.5rem;
    outline: none;
}

@media only screen and (max-width: 1000px) {  

    .single-video-card{
        width: 80vw;
        height: 8rem;
    }

}

@media only screen and (max-width: 500px) {  

    .single-video {
        height: 15rem;
    }

  }

@media only screen and (max-width: 415px) {  

    .single-video-card{
        height: 5rem;
    }

  }