.video-wrapper{
    min-width: 30vw;
    margin: 1rem 0.5rem 1rem 0rem;
    padding-bottom: 7px;
    border-radius: 10px;
    overflow: hidden;
}

.video-wrapper:hover {
    cursor: pointer;
    transform: rotateX(0.2deg);
    transform: rotateZ(0.2deg);
}

.thumbnail{
    width: 100%;
    max-height: 13rem;
    border-radius: 10px;
    aspect-ratio: 3/2;
    mix-blend-mode: color-burn;

}

@media only screen and (max-width: 1100px) {  

    .video-wrapper{
        min-width: 27vw;
    }
  }

@media only screen and (max-width: 1000px) {  

    .video-wrapper{
        min-width: 44vw;
    }
  }

  @media only screen and (max-width: 850px) {  

    .video-wrapper{
        min-width: 41vw;
    }
  }

  @media only screen and (max-width: 750px) {  

    .video-wrapper{
        min-width: 35vw;
    }
  }

  @media only screen and (max-width: 700px) {  

    .video-wrapper{
        min-width: 80vw;
    }

    .thumbnail {
        max-height: 15rem;
    }
  }

  @media only screen and (max-width: 450px) {  

    .video-wrapper{
        min-width: 90vw;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .thumbnail {
        max-height: 13rem;
    }
  }