:root{
    --ctc-color :rgb(212, 54, 54);
    --black-color : black;
    --white-color : white;
    --hover-bg-color :#dadde0;
    --bg-color : #f3f4f6;
}

body , * {
    margin: 0;
    padding: 0;
    
}

.main-wrapper{
    display: flex;
}

.ctr-vert{
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
}


.nav-pill {
    list-style: none;
    margin: 0rem;
    font-size: 1.1rem;
    color: var(--ctc-color);
}

.nav-pill:hover{
    cursor: pointer;
    transform: rotateX(0.1deg);
}

.hero-icon{
    margin-right: 5px;
    font-size: 2rem;
}

.search-bar {
    outline: none;
    border: 1px solid grey;
    border-radius: 1rem;
    width: 30%;
    height: 1.7rem;
    padding: 0.2rem 0.5rem;
}

.sidebar-container {
    margin: 0rem 0.5rem;
}

.sidebar-nav{
    list-style: none;
    text-align: center;
}

.sidebar-link{
    margin-bottom: 1.5rem ;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.sidebar-link-active{
    color: var(--ctc-color);
    text-decoration: none;
}

.hover:hover{
    background-color: var(--hover-bg-color);
}

.material-icons{
    font-size: 1.7rem;
}

.link {
    text-decoration: none;
    color: var(--black-color);
}

.main-container{
    background-color: var(--bg-color);
}

.info{
    max-width: 50ch;
    font-size: 1.2rem;
    line-height: 3rem;
}

.landing-img{
    max-width: 25rem;
    margin-right: 5rem;
}

.explore-btn{
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background: none;
    border: 1px solid var(--ctc-color);
    color: var(--ctc-color);
    width: fit-content;
    font-size: 0.9rem;
    border-radius: 5px;
}

.highlighted{
    color: var(--ctc-color);
}

.active-link{
    background-color: var(--ctc-color);
    color: var(--white-color);
}

button:hover{
    cursor: pointer;
}

.footer{
    height: 7rem;
    background-color: var(--ctc-color);
}

@media only screen and (max-width: 650px) {  
    .nav-links{
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0em;
    }

    .sidebar-container {
        margin: 0rem;
    }
  }

@media only screen and (max-width: 415px) {  
    .nav-links{
        width: 100vw;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0em;
        padding-inline-start: 5px;
        padding-inline-end: 5px;
    }

    .sidebar-link{
        margin-left: 0.3rem;
        font-size: 0.7rem;
    }

    .home-main {
        font-size: 0.5rem;
        margin-left: 1rem;
        width: 60ch;
        padding:  0rem;
    }

    .landing-img{
        max-width: 5rem;
        position: relative;
        bottom: 9rem;   
        left: 11.5rem;
    }

  }